body {
    font-family: 'Lato', sans-serif;
}

.avatar {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    -moz-column-gap:15px; /* Firefox */
    -webkit-column-gap:15px; /* Safari and Chrome */
    column-gap:15px;
    color: #fff;
    width: 200px;
    vertical-align: middle;
}

table td span {
    margin-top: 10px;
}

table td .label { 
    width: 100%; 
    -ms-word-wrap: break-word; 
    word-wrap: break-word; 
    display: inline-block; 
    white-space: normal;
    font-size: 100%;
}

table { table-layout: fixed; -ms-word-wrap: break-word; word-wrap: break-word; }

.fa {
    display: inline;
    padding-right: 2px;
    cursor:pointer;
}

.white {color: #fff;}

.white-background {
    background-color: #fff;
    color: #000;
}


.label {
    border-radius: .25em;
    text-align: left;
    cursor:pointer;
}

.panel {
    border-radius: 4px;
    cursor:pointer;
}

.panel-heading {
    padding: 2px 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {
    padding: 5px;
}

.panel-info .panel-heading {
    background-color: #5bc0de;
    border-color: #3db5d8;    
}

.panel-success .panel-heading {
    background-color: #43ac6a;
    border-color: #3c9a5f;
}

.panel-danger .panel-heading {
    background-color: #f04124;
    border-color: #ea2f10;
}

.panel-warning .panel-heading {
    background-color: #e99002;
    border-color: #d08002;
}